.vizew-btn {
    background-color: $hover;
    @include transition-duration(500ms);
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 160px;
    height: 50px;
    color: $white;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;
    text-transform: capitalize;
    &:hover,
    &:focus {
        font-size: 16px;
        font-weight: 500;
        background-color: $dark;
        color: $white;
        box-shadow: none;
    }
}

//Default checkbox
.custom-control-label::before{
    background-color:$bg-body;
    border: 2px solid;
    border-color: $border;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:$primary;
    border: none;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
//end Default Checkbox
