.recomendation-box{
    margin-top: 20px;
    width: 100%;
    background-color: $dark;
    .col{
        img{
            border-radius: 50%;
            border: 2px solid;
            border-color: $white;
            float: left;
            margin-right: 20px;
        }
        p{
            text-align: justify;
            text-justify: inter-word;
        }
    }
}
