.src-logo{
    width: 100px;
    height: 40px;
    background-repeat:no-repeat;
    background-position: left;
    background-size: contain;
}

.post-bar{
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    min-height: 35px;
    background-color: #222627;
}

.post-cata.cata-first {
    background-color: #eb7722;
}

.post-cata.cata-second {
    background-color: #441b7b;
}

.single-post-area .post-thumbnail .video-duration {
    bottom: 35px;
}

.video-options {
    right: 30px;
    bottom: 0px;
    position: absolute;
    width: 20px !important;
    height: 20px !important;
}

.rec-dropdown {
    right: 0px;
    bottom: 0px;
    position: absolute;
    width: 50px !important;
    height: 20px !important;
}

.rec-button {
    right: 15px;
    bottom: 5px;
    position: absolute;
    width: 50px !important;
    height: 20px !important;
    transition: background 0.25s ease-in-out;
}

.rec-button:hover {
    background-color: #db4437;
    transition: background 0.25s ease-in-out;
}

.open-origin {
    margin: auto;
    width: 75%;
    padding-bottom: 50px;
}

.btn-danger {
    background-color: #db4437;
    border-color: #db4437;
}

.btn-danger:hover {
    background-color: #d03325;
    border-color: #d03325;
}

.no-image {
    text-align: center;
    font-size: 120px;
    width: 340px;
    height: 197px;
}

.owl-prev {
    text-align: left;
}

.owl-next {
    text-align: right;
}

.custom-nav{
    font-size: 2.5rem;
    pointer-events: initial;
}
.disabled .custom-nav{
    display: none;
}

.owl-nav{
    background: linear-gradient(90deg, rgba(34,38,39,1) 0%, rgba(34,38,39,1) 1%, rgba(34,38,39,0) 5%,
                                       rgba(34,38,39,0) 95%, rgba(34,38,39,1) 99%, rgba(34,38,39,1) 100%);
    text-align: center;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left:  0;
    height : 196.875px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}
